 header{
    background-color: rgb(48, 214, 214) !important;
    width: 100% !important;
    padding: 5px !important;
}
.header{
    background-color: rgb(22, 126, 126) !important;
    width: 100%;
    padding: 5px;
}
#header{
    background-color: rgb(20, 99, 99);
    color: white;
    width: 100%;
    padding: 5px;
} */
.border-danger-img{
    background-color: rgb(240, 119, 119)!important;
}
.text-pinck{
    color: #d63384;
}
.text-brown{
    color: #91662f;
}




